.bg-steelBlue{

    background-color: #1A385A;

}

.bg-seagalBlue{

background-color: #769ABE;

}

.bg-tomatoOrange{

background-color:#E46F44 ;

}

.bg-pinkShell{

background-color:#E8AA9B ;

}

.bg-plumViolet{

background-color: #DCD5DC;

}

.color-plumViolet{

color:#DCD5DC;

}
.color-pinkShell{

color:#E8AA9B;

}
.color-Gold{


color: #ffd60a;

}
.color-seagalBlue{

color:#769ABE

}

.color-steelBlue{

color: #1A385A;

}

.active{
    color: #ffd60a!important;
    padding-inline: 10px;
}
.bg-transparent{

background-color: rgba(0, 0, 0,0);
border:none!important;

}
#title{

font-size: 70px; 

}
a:hover{

    color:#769ABE!important;
    
}

.headerMargin{
    margin-top: -0.5rem;
    
    }

.divTitle{

height:50vh;

}
.divTitle2{

    height:20vh;
    
    }

.logo-custom{
    height: 60px;
   
}

.europaOrientale{

    background-image: url(/public/media/europaOrientale.jpg);
}

.europaOccidentale{
    background-image: url(/public/media/europaOccidentale.jpg);
}

.Antartide{

    background-image: url(/public/media/Antartide.jpg);

}

.circle-nature {
    width: 200px;
    height: 200px;
    border: 10px ;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .circle-nature:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 10px solid transparent;
    border-top-color: green;
    border-right-color: green;
    border-bottom-color: green;
    border-left-color: green;
    border-radius: 50%;
    animation: fillCircle 2s linear forwards;
  }

  .circle-relax {
    width: 200px;
    height: 200px;
    border: 10px ;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .circle-relax:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 10px solid transparent;
    border-top-color: blue;
    border-right-color: blue;
    border-bottom-color: blue;

    border-radius: 50%;
    animation: fillCircle 2s linear forwards;
  }

  .circle-culture {
    width: 200px;
    height: 200px;
    border: 10px ;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .circle-culture:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 10px solid transparent;
    border-top-color: orange;
    border-right-color: orange;

    border-radius: 50%;
    animation: fillCircle 2s linear forwards;
  }

  .circle-history {
    width: 200px;
    height: 200px;
    border: 10px ;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .circle-history:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 10px solid transparent;
    border-top-color: gold;

    border-radius: 50%;
    animation: fillCircle 2s linear forwards;
  }


  @keyframes fillCircle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .circle img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .color-nature{
    color: green;
  }

  .color-relax{

    color: blue;
  }

  .color-history{

    color: gold ;
  }

  .color-culture{

    color: orange;
  }


  /* sfondo form inserimento annuncio */
  .bg-custom{

    background-color: #ffd700;
    /* background-image: url(/public/media/Oceano.jpg); */
  }

  .div-custom{

    background-image: url(/public/media/Oceano.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;


  }

  .bg-article-create-custom{

    background-color: #1A385A;

  }

  .insert-article-custom{

    background-image: url(/public/media/Inserisci\ il\ tuo\ annuncio2!.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 40vh;
  }